:root {
  --primary-color: #202020;
  --secondary-color: #fff;
  --primary-font-family: "Roboto";
  --secondary-font-family: "Montserrat";
}

body {
  background-color: var(--primary-color);
  background-image: url("/images/bg.png");
  color: var(--secondary-color);
}

h1 {
  text-transform: uppercase;
}

h2 {
  display: block;
  margin: 0 auto;
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.6px;
  padding-top: 150px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  display: block;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  width: 460px;
  height: 60px;
}

.logo {
  margin-left: 80px;
  margin-top: 30px;
}

.nav-link {
  color: var(--secondary-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  position: relative;
  left: 910px;
  top: 20px;
}

.hero {
  text-align: center;
}

.btn-branding {
  color: var(--secondary-color);
  font-family: var(--secondary-font-family);
  text-align: center;
}
